USE [master]
GO
/****** Sửa đường dẫn để phù hợp với mọi máy tính ******/
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLySinhVien_D')
    DROP DATABASE [QuanLySinhVien_D];
GO

CREATE DATABASE [QuanLySinhVien_D]
GO

USE [QuanLySinhVien_D]
GO

/****** Object:  Table [dbo].[ChuyenNganh] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[MaCN] [int] IDENTITY(1,1) NOT NULL,
	[TenCN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED ([MaCN] ASC)
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Diem] ******/
CREATE TABLE [dbo].[Diem](
	[MaSV] [bigint] NOT NULL,
	[MaMH] [varchar](20) NOT NULL,
	[DiemSo] [float] NULL,
	[HocKy] [nvarchar](20) NULL,
	[DiemChuyenCan] [float] NULL,
	[DiemGiuaKy] [float] NULL,
	[DiemCuoiKy] [float] NULL,
	[DiemTrungBinh] [float] NULL,
	[Lop] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Nganh] [nvarchar](100) NULL,
	[NamHoc] [int] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED ([MaSV] ASC, [MaMH] ASC)
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[GiangVien] ******/
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [nvarchar](250) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[MaCN] [int] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Khoa] [nvarchar](100) NULL,
	[ChucDanh] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED ([MaGV] ASC)
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[MonHoc] ******/
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [nvarchar](50) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[MaGV] [nvarchar](250) NULL,
	[HocKy] [nvarchar](50) NULL,
	[Khoa] [nvarchar](100) NULL,
	[SiSoHienTai] [int] NULL DEFAULT ((0)),
	[SiSoToiDa] [int] NULL DEFAULT ((60)),
	[TrangThai] [nvarchar](50) NULL DEFAULT (N'Đang mở'),
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED ([MaMH] ASC)
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[SinhVien] ******/
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [bigint] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[QueQuan] [nvarchar](200) NULL,
	[MaCN] [int] NULL,
	[TrangThai] [nvarchar](50) NULL DEFAULT (N'Đang học'),
	[Email] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Nganh] [nvarchar](200) NULL,
	[NamHoc] [int] NULL,
	[Sdt] [nvarchar](20) NULL,
	[LopHoc] [nvarchar](100) NULL,
	[TenCN_TuNhap] [nvarchar](255) NULL,
	[TenMonHoc] [nvarchar](250) NULL,
	[NamThu] [int] NULL,
	[GpaTuNhap] [float] NULL,
	[GpaNam1] [float] NULL,
	[GpaNam2] [float] NULL,
	[GpaNam3] [float] NULL,
	[GpaNam4] [float] NULL,
	[NganhHoc] [nvarchar](255) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED ([MaSV] ASC)
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TaiKhoan] ******/
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL DEFAULT ('Admin'),
 PRIMARY KEY CLUSTERED ([Username] ASC)
) ON [PRIMARY]
GO

-- NHẬP DỮ LIỆU MẪU
SET IDENTITY_INSERT [dbo].[ChuyenNganh] ON 
INSERT [dbo].[ChuyenNganh] ([MaCN], [TenCN]) VALUES (1, N'CNTT'), (2, N'Kế toán'), (3, N'Luật kinh tế'), (4, N'CNTT'), (5, N'Kế toán'), (6, N'Luật kinh tế')
SET IDENTITY_INSERT [dbo].[ChuyenNganh] OFF
GO





INSERT [dbo].[TaiKhoan] ([Username], [Password], [HoTen], [Role]) VALUES (N'admin', N'123', N'Anh Quân', N'Admin')
GO

-- THIẾT LẬP RÀNG BUỘC (CONSTRAINTS)
ALTER TABLE [dbo].[GiangVien] WITH NOCHECK ADD CONSTRAINT [FK_GiangVien_ChuyenNganh] FOREIGN KEY([MaCN]) REFERENCES [dbo].[ChuyenNganh] ([MaCN])
GO
ALTER TABLE [dbo].[SinhVien] WITH NOCHECK ADD CONSTRAINT [FK_SinhVien_ChuyenNganh] FOREIGN KEY([MaCN]) REFERENCES [dbo].[ChuyenNganh] ([MaCN])
GO
ALTER TABLE [dbo].[Diem] WITH CHECK ADD CHECK (([DiemSo]>=(0) AND [DiemSo]<=(10)))
GO

USE [master]
GO